In [16]:
import pandas as pd
import os
os.chdir("/Users/suncicie/Study/Project/DataMining/Competition/Tecent")# 将当前目录更换到此目录下
print os.getcwd()

/Users/suncicie/Study/Project/DataMining/Competition/Tecent

In [10]:
import matplotlib.pyplot as plt

In [2]:
# analyze the train.csv to find the different label have some diff points
train=pd.read_csv("dataset/pre/train.csv",header=0)
train=pd.DataFrame(train)
print train.head()

   label  clickTime  conversionTime  creativeID   userID  positionID  \
0      0     170000             NaN        3089  2798058         293
1      0     170000             NaN        1259   463234        6161
2      0     170000             NaN        4465  1857485        7434
3      0     170000             NaN        1004  2038823         977
4      0     170000             NaN        1887  2015141        3688

   connectionType  telecomsOperator
0               1                 1
1               1                 2
2               4                 1
3               1                 1
4               1                 1

In [6]:
groupByLabel=train.groupby(["label","connectionType","telecomsOperator"])["connectionType"].count()
print groupByLabel

label  connectionType  telecomsOperator
0      0               0                      1752
                       1                     26958
                       2                     10711
                       3                     14956
       1               0                     85873
                       1                   1510634
                       2                    672095
                       3                    645901
       2               0                      7623
                       1                    401751
                       2                     39075
                       3                     87012
       3               0                      1003
                       1                     80009
                       2                      2326
                       3                     25537
       4               0                      1053
                       1                     15434
                       2                     17036
                       3                      9527
1      0               0                        19
                       1                       120
                       2                        23
                       3                        47
       1               0                      3090
                       1                     41491
                       2                     23556
                       3                     19419
       2               0                        99
                       1                      3130
                       2                       367
                       3                       847
       3               0                         8
                       1                       542
                       2                        77
                       3                       146
       4               0                        23
                       1                        87
                       2                        90
                       3                        81
Name: connectionType, dtype: int64

In [3]:
groupByLabel1=train["connectionType"].groupby(train["label"]).value_counts()
print groupByLabel1

label  connectionType
0      1                 2914503
       2                  535461
       3                  108875
       0                   54377
       4                   43050
1      1                   87556
       2                    4443
       3                     773
       4                     281
       0                     209
Name: connectionType, dtype: int64

In [10]:
groupByLabel1.to_csv("dataset/pre/label_connectionType.csv")

In [5]:
groupByLabel1=pd.read_csv("dataset/pre/label_connectionType.csv",names=["label","connectionType","count"])
print groupByLabel1.head()

   label  connectionType    count
0      0               1  2914503
1      0               2   535461
2      0               3   108875
3      0               0    54377
4      0               4    43050

In [13]:
groupByLabelPic=groupByLabel1.pivot(index="connectionType",columns="label",values="count")
print groupByLabelPic.head()

label                 0      1
connectionType
0                 54377    209
1               2914503  87556
2                535461   4443
3                108875    773
4                 43050    281

In [15]:
groupByLabelPic.plot(kind="bar",stacked=True)
plt.xlabel("connectionType")
plt.ylabel("count")
plt.savefig("dataset/pre/connectionType.png")

In [16]:
# check the user feature in the train data
# groupby label 0,1 than draw line picture to get the feature
label_grouped=train.groupby(["label","userID"])
plt=label_grouped["connectionType"].plot()
plt.savefig("data/pre")

In [18]:
# train data relation between telecomsOperator and label
groupByLabelTele=train["telecomsOperator"].groupby(train["label"]).value_counts()
print groupByLabelTele.head()
groupByLabelTele.to_csv("dataset/pre/label_telecomsOperator.csv")
groupByLabelTele=pd.read_csv("dataset/pre/label_telecomsOperator.csv",names=["label","telecomsOperator","count"])
groupByLabelTelePic=groupByLabelTele.pivot(index="telecomsOperator",columns="label",values="count")
print groupByLabelTelePic

label  telecomsOperator
0      1                   2034786
       3                    782933
       2                    741243
       0                     97304
1      1                     45370
Name: telecomsOperator, dtype: int64
label                   0      1
telecomsOperator
0                   97304   3239
1                 2034786  45370
2                  741243  24113
3                  782933  20540

In [22]:
groupByLabelTelePic.plot(kind="bar",figsize=(8,8))
plt.xlabel("telecomsOperator")
plt.ylabel("count")
plt.text(3,1500000,"0: ,1: ,2: ,3")
plt.savefig("dataset/pre/telecomsOperator.png")

In [32]:
# train data relation between telecomsOperator and label
groupByLabelPos=train["positionID"].groupby(train["label"]).value_counts()
print groupByLabelPos.head()
groupByLabelPos.to_csv("dataset/pre/label_positionID.csv")
groupByLabelPos=pd.read_csv("dataset/pre/label_positionID.csv",names=["label","positionID","count"])
print groupByLabelPos.head()

label  positionID
0      2579          365045
       3322          322395
       2150          150136
       4867           92636
       3688           75995
Name: positionID, dtype: int64
   label  positionID   count
0      0        2579  365045
1      0        3322  322395
2      0        2150  150136
3      0        4867   92636
4      0        3688   75995

In [ ]:
groupByLabelPosPic=groupByLabelPos.pivot(index="positionID",columns="label",values="count")
groupByLabelPosPic.fillna(0)
print groupByLabelPosPic.head()

In [ ]:
print groupByLabelPos

In [29]:
groupByLabelPosPic.plot(kind="bar")
plt.xlabel("positionID")
plt.ylabel("count")

plt.savefig("dataset/pre/image/positionID.png")